# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/compiler.xml
.idea/misc.xml
.idea/vcs.xml
pom.xml
src/
target/
